<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <%= blog.title %>
            <div class="img-responsive"><img src="<%= blog.image %>"></img></div>
        </div>
    </div>
</div>

<% include partials/footer %>